{% extends 'base.html.twig' %}

{% block title %}La boutique{% endblock %}

{% block body %}
<h1>{{title}}</h1>
<div class="shop_container">
    
     {% for item in items %}
        <div class="card-product">
            <h2>{{item.name}}</h2>  
            <img src="{{ asset('/upload/images/' ~ item.file)}}" alt="photo produit" width="150" height="250">
            <p>{{item.ingredients}}</p>
             <p>{{item.volume}}</p>
            <small>{{item.categories}}</small>
            <p class="price">{{(item.price)/ 100 }} €</p> 
            <div class="btn">
                <a href=" {{ path('cart_add', {id : item.id}) }} "><button type = "submit" style="background-color: rgb(0, 110, 255); width: 25px;">Ajouter au panier</button></a>
            </div>
        </div>
        
    {% endfor %} 
</div>

{% endblock %}
